* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Poppins';
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;

}

.navbar img {
    height: 30px;
    width: 80px;
    padding-top: 8px;
    margin-top: 8px;
    margin-left: 105px;
    cursor: pointer;

}

.line {
    border-left: 2px solid #898787;
    margin-top: 10px;
    margin-bottom: 14px;
    height: 35px;
}

.grow-list ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin-right: 500px;

}

.grow-list ul li {
    margin: 15px;
    color: #ffff;
}

.button-small {
    background-color: #ba0cc5;
    color: #ffff;
    font-size: 12px;
    height: 30px;
    width: 100px;
    border: none;
    margin-right: 80px;
    border-radius: 5px;
    margin-top: 15px;
}

.hero {
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-heading {
    margin-top: 80px;
    margin-left: 120px;
    font-weight: 600;
    font-size: 60px;
    width: 750px;
}

.hero-description {
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
}

.button-large {
    background-color: #ba0cc5;
    color: #ffff;
    height: 45px;
    width: 250px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-right: 15px;
    border-radius: 10px;
    margin-top: 50px;
}